div {
    padding: 10px;
    margin: 5px;
}

body {
    background: url(img/bd.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

header {
    width: 100%;
    background-color: black;
    color: red;
    display: flex;
}

.logo img {
    margin-top: 18px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    background-color: #262626;
    width: 170px;
    height: 50px;
    border: 1px solid cornsilk;
    text-align: center;
    float: left;
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
    line-height: 50px;
}

.navbar ul li a {
    text-decoration: none;
    color: red;
}

.navbar ul li:hover {
    background-color:
        rgb(214, 219, 216);
    transition: all ease-in 0.5s;
}

.navbar ul ul {
    display: none;
}

.navbar ul li:hover>ul {
    display: block;
}

a {
    color: rgb(24, 237, 245);
    text-decoration: none;
    font-size: large;
}

a:hover {
    color: white;
    background-color: black;
}

a:visited {
    color: black;
    background-color: #ddd;
}

a:active {
    color: yellow;
}

dl {
    border: 1px dashed rgb(220, 255, 163);
    padding: 20px;
    color: antiquewhite;
}

.none {
    border: none;
    overflow: auto;
    width: 100%;
}

.none div {
    width: 20%;
    float: left;
}

.bangladesh {
    color: rgb(169, 243, 58);
}

.sub {
    background-color: green;
    color: red;
    font-weight: 600;
    font-size: large;
    font-style: italic;
    margin: 5px;
}

form {
    background-color: #ddddddd3;
    color: black;
    padding: 10px;
}

video {
    padding: 1px;
    margin: 5px;
}

.first {
    text-transform: capitalize;
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgb(18, 247, 255);
    outline-offset: 2px;
    text-shadow: -5px 5px 5px red;
}

#fabu {
    color: blue;
    font-size: 40px;
}

ol {
    list-style: lower-roman inside;
}

ul {
    list-style: square inside;
}

caption {
    font-size: 22px;
    margin: 7px;
}

table,
td,
th {
    border: 2px solid yellow;
    border-collapse: collapse;
}

td,
th {
    font-size: large;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.second {
    text-transform: capitalize;
    text-align: center;
    color: red;
}

.aim {
    font-size: large;
    color: rgb(250, 250, 3, 0.8);
}

h1:nth-child(1) {
    color: antiquewhite;
}

/* p::first-letter{
    color: red;
    font-size: x-large;
} */
#gr1 {
    border: none;
    height: 200px;
    width: 400px;
    background: linear-gradient(45deg, red 12%, orange, yellow, green, blue, rgb(110, 5, 185), rgb(221, 34, 221));
    margin-top: 2px;
}

.one {
    margin-bottom: 0;
}

#gr2 {
    border: none;
    height: 200px;
    width: 400px;
    background: radial-gradient(red, rgb(207, 47, 207));
    margin-top: 2px;
}

.two {
    margin-bottom: 0;
}

.grs {
    background: linear-gradient(30deg, red, blue, green);
    text-align: center;
    width: 420px;
}

img:hover {
    opacity: 0.9;
}

.gl {
    background: linear-gradient(30deg, white, rgb(243, 178, 243), rgb(113, 113, 238), rgb(129, 250, 250));
    color: black;
    width: 420px;
    text-align: center;
}

.gl2 {
    height: 200px;
    width: 400px;
    background: url(img/gradiant.jpg) no-repeat center;
    background-size: cover;
    border: none;
    overflow: hidden;
    margin: 1px;
}

.gl3 p {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 35px;
    margin-top: 70px;
    opacity: 0.3;
}

.gl3 {
    border: none;
}

.favorite {
    height: 230px;
    width: 300px;
    text-align: center;
    margin: auto;
    border: 1px solid rgb(0, 0, 0, 0.8);
    box-shadow: 5px 5px 15px 1px rgb(69, 131, 245);
}

.favorite img {
    width: 100%;
}

.favorite h3 {
    margin: 0;
}

.sprite {
    border: none;
    background-image: url(img/sprite.png);
    height: 60px;
    width: 60px;
    background-position: 0 -84px;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.8s;
    margin: auto;
}

.sprite:hover {
    background-position: 0 11px;
}

.fabu {
    background-color: black;
    text-align: center;
}

.transform {
    border: none;
    font-size: 40px;
    background-color: tomato;
    margin: auto;
    height: 160px;
    width: 200px;
    position: relative;
    transform: skew(20deg);
    animation-name: zarir;
    animation-duration: 3s;
    /* transition-delay: 0.5s;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: cubic-bezier(1, 0, 0, 1); */
    transition: all 0.5s linear;
}

.transform h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 5%;
}

.transform:hover {
    height: 170px;
    width: 200px;
    transform: rotate(5deg);
    border-radius: 50%;

}

@keyframes zarir {
    25% {
        background-color: tomato;
    }

    50% {
        background-color: rgb(16, 177, 16);
    }
}

.flexbox {
    background-color: rgb(160, 58, 58);
    margin-top: 15px;
    display: flex;
    padding: 0;
    /* flex-wrap: wrap;
    flex-direction: row; */
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}

.flexbox div {
    background-color: aqua;
    color: black;
    margin: 15px;
    padding: 15px;
}

.grid {
    display: grid;
    grid-template-rows: 60px 100px 200px 60px;
    grid-template-columns: repeat(3, 1fr) 150px;
    grid-gap: 5px;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
}

.box11 {
    background-color: chartreuse;
    color: black;
    grid-column: 1/-1;
}

.box12 {
    background-color: aqua;
    color: black;
}

.box13 {
    background-color: chocolate;
}

.box14 {
    background-color: cornflowerblue;
}

.box15 {
    background-color: crimson;
    grid-row: 2/4;
    grid-column: 4/5;
}

.box16 {
    background-color: darksalmon;
    color: black;
    grid-column: 1/4;
}

.box17 {
    background-color: mediumvioletred;
    grid-column: 1/-1;
}

footer {
    position: static;
    bottom: 0;
    text-align: center;
    background-color: rgb(29, 27, 27);
    width: 100%;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.text p {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -30px;
}

.icon i {
    font-size: 40px;
    position: relative;
    top: -20px;
    padding: 10px;
}

.copy {
    height: 20px;

    background-color: black;
}

.wonder a {
    color: wheat;
}

.wonder a:hover {
    color: aqua;
}

/* THE END */
@media (max-width: 768px) {}